.cart {
    position: relative;
}

.cart-icon {
    cursor: pointer;
    background-image: url('../../assets/cart-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
}

.cart-counter{
    font-size:10px;
    color: #fff;
    content: "";
    position: absolute;
    right: -10px;
    top: -5px;
    width: 15px;
    height: 15px;
    background: #E904C4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-bar {
    position: absolute;
    width: 400px;
    border: none;
    background-color: #E904C4;
    border-radius: 3px;
    top:40px;
    left: -390px;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
    z-index: 1;
    
}

.cart-bar.visible {
    transition: all 0.3s;
    height: auto;
    overflow: visible;
    color:#fff;
    border:1px solid #0F1139;
    opacity: 1;
    visibility: visible;
    /* display: flex;
    animation: cartpop 0.5s; */

}

/* .hide-cart-bar {
    visibility: hidden;
} */

/* @keyframes carthide {
    from{
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@keyframes cartpop {
    from{
        opacity:0;
    }
    to {
        opacity:1;
    }
} */

.cart-items-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-scroll {
    max-height: 300px;
    overflow-y: scroll;
}

.cart-item {
    font-size: 0.8rem;
    height: 40px;
    border-radius: 5px;
    background:rgba(15, 17, 57, 0.5);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

.cart-item:hover {
    background:#0F1139;
}

.product-title {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    flex: 1;
    margin-right: 10px;
}

.product-price {
    margin-right: 10px;
    margin-left: 10px;
    flex: 1;
}

.empty-cart,
.clear-cart,
.cart-summ {
    align-self: center;
}

.cart-summ {
    align-self: flex-end;
}

.cart-delete-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
    color:#fff;
    transition: all 0.3s;
}

.cart-delete-button:hover {
    background-color: #E904C4;
    color: #fff;
    border: 1px solid #fff;
}

.cart-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.clear-cart,
.confirm-order {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.clear-cart {
    text-decoration: underline;
}

.clear-cart:hover {
    text-decoration: none;
}

.confirm-order {
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    transition: all 0.3s;
}

.confirm-order:hover {
    background-color: #fff;
    color: #000;
}

.item-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.item-counter button {
    width:20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #fff;
    color:#fff;
    background-color: transparent;
    flex: 1;
    transition: all 0.3s;
}

.item-counter button:hover {
    background:#E904C4;
}