.filter-button {
    border:1px solid #000;
    border-radius: 5px;
    padding:5px 10px;
    transition:all 0.3s;
    cursor:pointer;
}

.filter-button:hover {
    background-color:#000;
    color:#fff;
}

.current {
    background-color:#000;
    color:#fff;
}