.products {
    width:80%;
    margin:50px auto;
}

.list-items {
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.list-item {
    list-style: none;
    border:1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex:1;
}

.item-title {
    margin-top:20px;
    flex:1;
    text-align: center;
}

.item-rating {
    flex:1;
    align-self: center;
}

.item-image-block {
    padding:20px;
    width:80%;
    height: 60%;
    align-self: center;
}

.item-image {
    width:100%;
    height: 100%;
}

.add-to-cart-button {
    border:none;
    background:#000;
    border:1px solid #000;
    color:#fff;
    height: 40px;
    transition:all 0.3s;
    cursor:pointer;
}

.add-to-cart-button:hover {
    background: #fff;
    color:#000;
}

.item-rating {
    width:100%;
    display:flex;
    justify-content: center;
}

.rating-star {
    background-image: url('../../assets/rating-star.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:15px;
    height: 15px;
}