.main {
    width: 100%;
    display: flex;
}

.main-products-block {}

.products {
    width: 100%;
    margin: 0 auto;
}

.list-items {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media (max-width:1100px) {
    .list-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:767px) {
    .list-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:640px) {
    .list-items {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


.filters {
    margin: 20px 0;
    display: flex;

}

.filters select {
    align-self: flex-start;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    background: rgb(51, 51, 51);
    padding: 5px 10px;
}

.filters select option:hover {
    color: #515151;
    background: #fff;
}

.main-filters-block {
    min-width: 200px;
    height: fit-content;
    border: 1px solid #515151;
    margin: 67px 20px 20px 20px;
    padding: 20px;
}

.categories-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}