.single-product-wrapper {
    display: flex;
    width:100%;
    min-height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 225, 225);
}

.single-product-card {
    padding:100px 50px;
    background-color: #fff;
    border-radius: 5px;
}

.single-product-card {
    display: flex;
    align-items: center;
    gap:50px;
    max-width:920px;
}

.single-product-image img {
    width: 100%;
    height: 100%;
    max-width:270px;
}

.left-single-product-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
}

.right-single-product-block {
    width:50%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.back-to-products-btn {
    color:gray;
    text-decoration: underline;
}



