.list-item {
    list-style: none;
    border: 1px solid rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.item-title {
    margin-top: 20px;
    flex: 1;
    text-align: center;
    padding: 0 20px;
    color: rgb(51, 51, 51);
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
}

.item-title:hover {
    text-decoration: underline;
}


.item-image-block {
    padding: 20px;
    width: 80%;
    height: 50%;
    align-self: center;
}

.item-image {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 250px;
}

.add-to-cart-button {
    border: none;
    background: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
    color: #fff;
    padding: 10px 0;
    transition: all 0.3s;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background: transparent;
    border: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
}

.item-rating {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rating-star {
    background-image: url('../../assets/rating-star.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
}

.item-price {
    align-self: center;
    margin: 10px 0;
    font-weight: 400;
    color: rgb(51, 51, 51);
    font-size: 18px;
    text-decoration: none;
}

.item-price:hover {
    text-decoration: underline;
}