.sign-in-button {
    cursor: pointer;
}

.auth-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.user-name {
    color: rgb(51, 51, 51);
}

.sign-in-button,
.log-out-button {
    background: none;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.sign-in-button:hover,
.log-out-button:hover {
    text-decoration: underline;
}