.sign-in-button {
    cursor: pointer;
}

.auth-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.user-name {
    color: #fff;
}

.sign-in-button,
.log-out-button {
    background: none;
    color:#fff;
    border:2px solid #E904C4;
    padding:5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.3s;
}

.sign-in-button:hover,
.log-out-button:hover {
    background:#E904C4;
}